h2 {
  font-size: 2em;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.5em;
  margin: 0.2em 0;
}

li {
  margin-left: 1.5em;
}

.canvas-wrapper {
  border: 3px rgb(186, 186, 186) solid;
  border-radius: 0.3em;
  width: max-content;
}

.canvas-wrapper-f3 {
  background-color: rgb(179, 179, 179);

  position: absolute;
  padding: 5px 10px;
  top: 10px;
  left: 10px;

  user-select: none;
}

.canvas-wrapper-upper {
  position: relative;
}

.canvas-wrapper:focus {
  padding: 0;
  outline: 0;
}